<section id="section-content" class="outer-wrapper clearfix">
  <div id="zone-header-img" class="{{ region_classes.headerimage }} inner-wrapper clearfix">

      {{ content.headerimage }}

  </div>
  <div id="zone-main" class="{{ region_classes.main }} inner-wrapper clearfix">

    <div id="zone-actionblocks" class="{{ region_classes.homecourses }} inner-wrapper clearfix">
      <div class="zone-section">

        {{ content.homeactionblocks }}

      </div>
    </div>

    <div id="zone-stats" class="{{ region_classes.homestats }} inner-wrapper clearfix">
      <div class="zone-section">

        {{ content.homestats }}

      </div>
    </div>

    <div id="zone-about" class="{{ region_classes.homesocial }} inner-wrapper clearfix">
      <div class="zone-section">

        {{ content.homeabout }}

      </div>
    </div>

    <div id="zone-accreditations" class="{{ region_classes.homeaccreditations }} inner-wrapper clearfix">
      <div class="zone-section">

        {{ content.homeaccreditations }}

      </div>
    </div>

    <div id="zone-newsevents" class="{{ region_classes.hometestimonials }} inner-wrapper clearfix">
      <div class="zone-section">

        {{ content.homenewsevents }}

      </div>
    </div>
  </div>
</section>
