<section id="section-content" class="outer-wrapper clearfix">
  <div id="zone-header-img" class="{{ region_classes.headerimage }} inner-wrapper clearfix">

      {{ content.headerimage }}

  </div>
  <div id="zone-main" class="{{ region_classes.main }} inner-wrapper clearfix">

    <div id="zone-courses" class="{{ region_classes.homecourses }} inner-wrapper clearfix">
      <div class="zone-section">

        {{ content.homecourses }}

      </div>
    </div>

    <div id="zone-accommodation" class="{{ region_classes.homeaccommodation }} inner-wrapper clearfix">
      <div class="zone-section">

        {{ content.homeaccommodations }}

      </div>
    </div>

    <div id="zone-social" class="{{ region_classes.homesocial }} inner-wrapper clearfix">
      <div class="zone-section">

        {{ content.homesocial }}

      </div>
    </div>

    <div id="zone-events" class="{{ region_classes.homeevents }} inner-wrapper clearfix">
      <div class="zone-section">

        {{ content.homeevents }}

      </div>
    </div>

    <div id="zone-testimonials" class="{{ region_classes.hometestimonials }} inner-wrapper clearfix">
      <div class="zone-section">

        {{ content.hometestimonials }}

      </div>
    </div>

    <div id="zone-accreditations" class="{{ region_classes.homeaccreditations }} inner-wrapper clearfix">
      <div class="zone-section">

        {{ content.homeaccreditations }}

      </div>
    </div>

  </div>
</section>
