<section id="section-content" class="outer-wrapper clearfix">
  <div id="zone-header-img" class="{{ region_classes.headerimage }} inner-wrapper clearfix">
    <div class="zone-section">

      {{ content.headerimage }}

    </div>
  </div>
  <div id="zone-main" class="{{ region_classes.main }} inner-wrapper clearfix">
    <div class="wrapper" id="wrapper-content-over">
      <div class="zone-section">

        {{ content.main }}

      </div>
    </div>
    <div class="wrapper" id="wrapper-bottom">
      <div class="zone-section">

        {{ content.bottom }}

      </div>
    </div>
  </div><!-- /#main -->
</section><!-- /#main-content-wrapper -->
